<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.example.TrailBlazer.READ_DATA" />
    <uses-permission android:name="com.example.TrailBlazer.WRITE_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />

        <service
            android:name=".domain.MovementTrackerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|dataSync" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCrKsxTguyZRaVlFrC9ADqGZbmLKyxctWs" />

        <provider
            android:name=".data.Provider"
            android:authorities="com.example.TrailBlazer.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.TrailBlazer.READ_DATA"
            android:writePermission="com.example.TrailBlazer.WRITE_DATA" />

    </application>

</manifest>